:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
}

header {
    width: 100%;
    height: 12vh;
    background-color: var(--color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0.2rem 1rem;
}

.navbar a {
    text-decoration: none;
    color: var(--color);
}

.appLogo {
    width: 10rem;
    height: 6rem;
}

.appLogo img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.appAuth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding: 0.5rem;
}

.authBtn {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    border: none;
    height: 6vh;
    border-radius: 0.4rem;
    background-color: var(--background);
    color: var(--color);
    font-weight: 500;
}

.authBtn:hover {
    background-color: var(--primary-color);
}

.username {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 0.5rem;
    text-transform: capitalize;
    color: var(--primary-color);
}